.avatar{
    width: 100px;
    height: 100px;
border-radius: 50;

}

.col-izq{
background-color: aquamarine;


}

.letrablanca {

    color: white;
    text-decoration: none;
}

.perfil{
background-image: url("../IMG/5e6a97d5aa9c4.jpeg");
background-size: cover;
background-position: center;
}